

h1 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
}

button:focus {
    outline: none;
}

.navbar {
    background-color: rgb(169, 196, 247);
    border-bottom: 4px solid black;
}

.navbar-nav {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
}

.nav-item { 
    font-size: 20px;
    transition: 1000ms;
    margin-right: 1rem;
}

.nav-item:hover {
    color: black;
}

#navlogo {
    display: block;
    text-indent: -9999px;
    height: 1.25*128px;
    width: 1.25*255px;
    margin-bottom: -4rem;
    background-image: url(../img/logo.svg);
    background-size: 1.25*255px 1.25*128px;
}

#navlogomobile {
    display: none;
}

.search {
    background-color: black;
    color: white;
    transition: 2000ms;
    border-radius: 10px;
}

.search:hover {
    color: slategray;
}

.searchfield {
    border: solid black 2px;
    border-radius: 10px;
}

.main-row {   
  max-width: 100%;
  padding: 0 0 0 1rem;
  margin: 0 -1rem;
 }

 .carousel-div {
     padding-right: 0;
 }

 .customizer {
     background-color: #FFEFAE;
     margin: 0;
     border: 2px dashed black;
     border-top: 0;
     padding: 3rem;
     height: 55%;
 }

 .join {
    background-color: #212172;
    color: white;
    margin: 0;
    padding: 3rem;
    height: 40%;
}

.social {
    background-color: black;
    height: 5%;
    margin: 0;
    padding: .4rem;
}
 
.btn-social-icon {
    margin: auto 1rem;
}
.btn-check {
    display: none;
}

.reviews-row {
    border-top: 4px solid black;
    margin-left: 0rem;
    padding: 3rem;
    background-color: linear-gradient(rgb(238, 223, 206), gray)
}

iframe {
    border: none;
    width: 100%;
}

//custom

.baselist, .spicelist, .fruitlist, .florallist {
    list-style-type: none;
}

.card {
    // width: 12rem;
    margin: 1rem 2rem;
}

.card-img-top {
    max-width: 12rem;
}

.cardbtn {
    padding: .25rem;
    border: none;
    width: 100%;
}
.add{
    background-color: rgb(202, 115, 0);
    color: white;
}

.remove {
    background-color: rgb(47, 55, 58);
    color: white;
}

@media only screen and (max-width: 1130px) {
    h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 980px) {
    #navlogo {
        display: block;
        text-indent: -9999px;
        height: 128px;
        width: 255px;
        margin-bottom: -3rem;
        background-image: url(../img/logo.svg);
        background-size: 255px 128px;
    }
    
    .card {
        // width: 10rem;
        margin: 1rem 1rem;
    }
  }


 @media only screen and (max-width: 767px) {
     
     h4 {
         font-size: 1rem;
     }

     #navlogo {
        display: block;
        text-indent: -9999px;
        height: .7*128px;
        width: .7*255px;
        margin-bottom: -3rem;
        background-image: url(../img/logo.svg);
        background-size: .7*255px .7*128px;
    }

    .card {
        // width: 8rem;
        margin: .5rem;
    }
    .carousel-div {
        padding: 0 0 0 1rem;
    }
  }
  @media only screen and (max-width: 560px) {
      #navlogo {
          display: none;
      }
      #navlogomobile {
          display: block;
          height: .7*128px;
          width: .7*255px;    
          background-image: url(../img/logo.svg);
          background-size: .7*255px .7*128px;
          position: fixed;
          top: 0;
          left: 30%;
          z-index: 1000;
          margin-top: .5rem;
      }
  }      