h1 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700; }

button:focus {
  outline: none; }

.navbar {
  background-color: #a9c4f7;
  border-bottom: 4px solid black; }

.navbar-nav {
  font-family: 'Barlow', sans-serif;
  font-weight: 700; }

.nav-item {
  font-size: 20px;
  transition: 1000ms;
  margin-right: 1rem; }

.nav-item:hover {
  color: black; }

#navlogo {
  display: block;
  text-indent: -9999px;
  height: 128px;
  width: 255px;
  margin-bottom: -3rem;
  background-image: url(../img/logo.svg);
  background-size: 255px 128px; }

.search {
  background-color: black;
  color: white;
  transition: 2000ms;
  border-radius: 10px; }

.search:hover {
  color: slategray; }

.searchfield {
  border: solid black 2px;
  border-radius: 10px; }

.main-row {
  max-width: 100%;
  padding: 0 0 0 1rem;
  margin: 0 -1rem; }

.carousel-div {
  padding-right: 0; }

.customizer {
  background-color: #FFEFAE;
  margin: 0;
  border: 2px dashed black;
  border-top: 0;
  padding: 3rem;
  height: 55%; }

.join {
  background-color: #212172;
  color: white;
  margin: 0;
  padding: 3rem;
  height: 40%; }

.social {
  background-color: black;
  height: 5%;
  margin: 0;
  padding: .4rem; }

.btn-social-icon {
  margin: auto 1rem; }

.btn-check {
  display: none; }

.card {
  width: 12rem; }

.reviews-row {
  border-top: 4px solid black;
  margin-left: 0rem;
  padding: 3rem;
  background-color: linear-gradient(#eedfce, gray); }

iframe {
  border: none;
  width: 100%; }

.baselist, .spicelist, .fruitlist, .florallist {
  list-style-type: none; }

.cardbtn {
  padding: .25rem;
  border: none;
  width: 100%; }

.add {
  background-color: #ca7300;
  color: white; }

.remove {
  background-color: #2f373a;
  color: white; }

@media only screen and (max-width: 980px) {
  .card {
    width: 10rem; } }

@media only screen and (max-width: 767px) {
  h4 {
    font-size: 1rem; }
  .card {
    width: 8rem; }
  .carousel-div {
    padding: 0 0 0 1rem; } }
