

h1 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
}

button:focus {
    outline: none;
}

.navbar {
    background-color: rgb(169, 196, 247);
    border-bottom: 4px solid black;
}

.navbar-nav {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
}

.nav-item { 
    font-size: 20px;
    transition: 1000ms;
    margin-right: 1rem;
}

.nav-item:hover {
    color: black;
}

#navlogo {
    display: block;
    text-indent: -9999px;
    height: 1.25*128px;
    width: 1.25*255px;
    margin-bottom: -4rem;
    background-image: url(../img/logo.svg);
    background-size: 1.25*255px 1.25*128px;
}

#navlogomobile {
    display: none;
}

.search {
    background-color: black;
    color: white;
    transition: 2000ms;
    border-radius: 10px;
}

.search:hover {
    color: slategray;
}

.searchfield {
    border: solid black 2px;
    border-radius: 10px;
}

.searchfield:focus {
    outline: none;
}

.main-row {   
  max-width: 100%;
  padding: 0 0 0 1rem;
  margin: 0 -1rem;
 }

 .carousel-div {
     padding-right: 0;
 }

 .customizer {
     background-color: #FFEFAE;
     margin: 0;
     border: 2px dashed black;
     border-top: 0;
     padding: 3rem;
     height: 60%;
 }

 .join {
    background-color: #212172;
    color: white;
    margin: 0;
    padding: 3rem;
    height: 40%;
}

.social {
    background-color: black;
    height: 40%;
    width: 65px;
    margin: 0;
    padding: .5rem 0;
    position: absolute;
    bottom: 0;
    right: 0;
}
 
.btn-social-icon {
    margin: .5rem 1rem;
}

.reviews-row {
    border-top: 4px solid black;
    margin-left: 0rem;
    padding: 3rem;
    background-color: linear-gradient(rgb(238, 223, 206), gray)
}

iframe {
    border: none;
    width: 100%;
}

//custom

.baselist, .spicelist, .fruitlist, .florallist {
    list-style-type: none;
}

.card {
    // width: 12rem;
    margin: 1rem 2rem;
}

.card-img-top {
    max-width: 12rem;
}

.cardbtn {
    padding: .25rem;
    border: none;
    width: 100%;
}
.add{
    background-color: rgb(202, 115, 0);
    color: white;
}

.remove {
    background-color: rgb(47, 55, 58);
    color: white;
}

@media only screen and (max-width: 1130px) {
    h1 {
        font-size: 2rem;
    }

    .btn-social-icon {
        margin: .25rem;
    }
}

@media only screen and (max-width: 991px) {
    #navlogo {
        display: block;
        text-indent: -9999px;
        height: .85*128px;
        width: .85*255px;
        margin-bottom: -3rem;
        background-image: url(../img/logo.svg);
        background-size: .85*255px .85*128px;
    }
    
    .card {
        // width: 10rem;
        margin: 1rem 1rem;
    }
    .join {
        height: 300px;
    }
    .social {
        padding: 0 1rem;
        width: 100%;
        height: 65px;
        top: 0;
    }
    .btn-social-icon {
        margin: 1rem .5rem;
    }
  }


 @media only screen and (max-width: 767px) {
     
     h4 {
         font-size: 1rem;
     }

     #navlogo {
        display: none;
    }
    #navlogomobile {
        display: block;
        height: .8*128px;
        width: .8*255px;    
        background-image: url(../img/logo.svg);
        background-size: .8*255px .8*128px;
        position: fixed;
        top: 0;
        left: 35%;
        z-index: 1000;
        margin-top: .5rem;
    }

    .card {
        // width: 8rem;
        margin: .5rem;
    }
    .carousel-div {
        padding: 0 0 0 1rem;
    }
  }
  @media only screen and (max-width: 575px) {
    #navlogomobile {
        height: .7*128px;
        width: .7*255px;    
        background-size: .7*255px .7*128px;
    }
  }      